<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/2eee036eda.js" crossorigin="anonymous"></script>
        <link href="static/about.css" rel="stylesheet">
        <meta name = "viewport" content = "initial-scale=1, width=device-width">

        <title> My Personal Webpage </title>

    </head>

    <body>
        <div class = "topnav">
            <a href="https://shubham13596-code50-102696888-x5q94g56qcv5jq-8080.githubpreview.dev/index.html">
                Home
            </a>
            <div class="topnav-right">
            <a class = "icons" href = https://twitter.com/Shubham13596 target = "_blank">
                <i class="fa-brands fa-twitter fa-lg" ></i>
            </a>
            <a class ="icons" href = "https://www.linkedin.com/in/shubham-gupta-50267a90/" target = "_blank">
                <i class="fa-brands fa-linkedin fa-lg"></i>
            </a>
        </div>
        </div>

        <div class = "myImage">
            <img alt = "Image of Shubham sitting at the edge of a rock in Israel" src="static/photo1.jpg"
            width = "200" height = "auto">
        </div>

        <div class = "myIntro">
            <p style = "font-size:30px"> Hi! I am Shubham </p>
            <p> I scribble down here some of my thoughts and what I am upto.
            If you find anything interesting, please feel free to reach out.</p>
        </div>

            <a class = "buttons" href = https://shubham13596-code50-102696888-x5q94g56qcv5jq-8080.githubpreview.dev/books.html>
                My Favourite books
            </a>
            &emsp;

            <a class = "buttons" href = https://shubham13596-code50-102696888-x5q94g56qcv5jq-8080.githubpreview.dev/articles.html>
                My Favourite articles
            </a>

            &emsp;

            <a class = "buttons" href = https://shubham13596-code50-102696888-x5q94g56qcv5jq-8080.githubpreview.dev/Other_interests.html>
                Other Interests
            </a>

    </body>
</html>